.pages {
    display: flex;
    min-height: 600px;
    height: 100%;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 100px;
}

.top {
    width: 500px;
}

.Header {
    font-size: 20px;
}

.Subtitle {
    font-size: 8px;
}

span {
    color: darkblue;
}

.content {
    display: grid;
    grid-template-columns: auto auto;
}

.ABox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0;
    padding: 25px;
}

.ABox img {
    margin: -50px -50px 10px 10px;
    height: 80px;
}

.title {
    font-weight: bold;
    color: darkblue;
}

.desc {
    font-size: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 2px lightblue;
    height: 80px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 50px;
}