.blogContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.recentProject {
    background: lightskyblue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectImage {
    max-height: 300px;
    margin: 50px;
}

.ourCustomers {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.ourCustomers .description {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.companyBadgeList div{
    display: flex;
    flex-direction: row;

}

.companyBadgeList img{
    height: 100px;
}

.displayInSmallWidth {
    display: none;
}

.Testimonials {
    width: 100%;
}

.testimonialContainer .description {
    width: 500px;
}

.testimonialContainer {
    background: lightskyblue;
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.personImageList {
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.personImageList .mainImage {
    height: 200px;
}

.personImageList .sideImage1 {
    height: 100px;
}

.personImageList .sideImage2 {
    height: 50px;
}

.Features {
    width: 100%;
}
.featuresContainer {
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.featuresCardList {
    display: flex;
}

.Team {
    width: 100%;
}

.teamContainer {
    background: lightskyblue;
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Tools {
    display: flex;
    padding: 50px;
    align-items: center;
    text-align: right;
    width: 100%;
}

.toolsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    min-width: 400px;
}

.badgeList {
    display: flex;

}

@media screen and (max-width: 768px) {
    .blogContainer *{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .blogContainer {
        width: 100%;
    }
    .testimonialContainer .description{
        width: 300px;
    }
    .projectImage {
        height: 200px;
    }
    .sideImage1 {
        display: none;
    }
    .sideImage2 {
        display: none;
    }

    .companyBadgeList {
        display: none;
    }

    .displayInSmallWidth {
        display: flex;
    }

    .badgeList {
        display: flex;
        flex-direction: row;
    }

    .badgeList img {
        width: 100px;
    }

    .hideInSmallWidth {
        display: none;
    }
}