.blogContainer {
    display: flex;
    flex-direction: column;
}
.recentProject {
    background: lightskyblue;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projectImage {
    max-height: 300px;
    margin: 50px;
}

.ourCustomers {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.ourCustomers .description {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.companyBadgeList {
    display: flex;
}

.companyBadgeList img{
    height: 100px;
}

.Testimonials {
    width: 100%;
}

.testimonialContainer {
    background: lightskyblue;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Features {
    width: 100%;
}
.featuresContainer {
    width: 100%;
}
.cardList {
    width: 100%;
}

.Team {
    width: 100%;
}

.teamContainer {
    background: lightskyblue;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
