.homeMainContainer {
    display: flex;
    min-height: 700px;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.banner {
    border-radius: 25px 25px 150px 25px;
    background: darkblue;
    display: flex;
    flex-direction: row;
    min-height: 500px;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.bannerContent{
    padding: 100px;
    max-width: 600px;
    color: white;
    text-align: left;
}


img.bannerImage {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 400px;
    padding: 10px;
    margin-right: 50px;
}

.bannerHeader {
    font-size: 32px;
}

.bannerSubtitle {
    font-size: 16px;
}

.bannerDescription{
    font-size: 10px;
}

.bannerButton {
    width: 150px;
    height: 35px;
    color: white;
    background: darkblue;
    border-radius: 5px;
    font-weight: 700;
}

@media only screen and (max-width: 600px){
    .banner {
        flex-direction: column-reverse;
    }
}