.navbar {
  font-family: 'Poppins';
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 7%;
  width: 100%;
  top: 0;
  position: fixed;
  background-color: #fff;
}

.logo {
  justify-content: center;
  align-items: center;
  height: 60px;
  margin: 5px 15px 15px 15px;
}

.navbarLinks {
  display: none;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.links a {
  text-decoration: none;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  color: black;
}
.links a:hover {
  color: #12105c;
  border-bottom: 2.5px solid #12105c;
  padding-bottom: 2.5px;
  transition: 0.18s ease;
}
.links .navbarButton {
  width: 90px;
  height: 35px;
  background: transparent;
  border-radius: 50px;
  color: #12105c;
  font-weight: 700;
}

@media only screen and (max-width: 981px) {
  .navbar {
    padding: 25px 3%;
  }
  .links a {
    font-size: 16px;
  }
  .links .navbarButton {
    width: 90px;
    height: 35px;
    background: transparent;
    border-radius: 50px;
    font-weight: 700;
  }
}

@media only screen and (max-width: 748px) {
  .links {
    display: none;
  }
  .links a {
      color: #fff;
  }
  .links.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    align-items: center;
    justify-content: center;
  }
  .links .navbarButton {
    width: 80px;
    height: 30px;
    background: transparent;
    border-radius: 50px;
    color: #fff;
  }
  .navbarLinks {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50px;
    height: 40px;
    z-index: 4;
  }
  .navbarLinks.active span:nth-child(2) {
    display: none;
  }
  .navbarLinks.active span:nth-child(1) {
    position: absolute;
    transform: rotate(-45deg);
  }
  .navbarLinks.active span:nth-child(3) {
    position: absolute;
    transform: rotate(-45deg);
  }
}
