.pages {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

span.blue {
  color: darkblue;
}


.heading {
  font-size: 20px;
  color: black;
  padding-right: 20px;
  padding-left: 20px;
}

.title {
  font-size: 30px;
  padding-left: 20px;
}

.description {
  font-size: 10px;
  display: flex;
  width: 80%;
  padding: 20px;
  justify-content: inherit;
  align-items: center;
}


.blogButton {
  width: 150px;
  height: 35px;
  padding: 10px;
  margin: 20px;
  background: blue;
  border-radius: 5px;
  font-weight: 700;
}